
/* Overrides any js hiding for mobile topnav */
@media only screen and (min-width: 1076px) {
    .main-nav {
        display: block!important;
    }

    .hero-text-box {
        display: block!important;
    }
}


/* Small tablets: 768 to 1023px */
@media only screen and (max-width: 1075px) {
    body {
        font-size: 18px;
    } /* Reduce reference font size from 20px to 18px */

    section { padding: 60px 0; } /* reduced top/bottom padding for sections */

    .mobile-nav-icon {
        margin: 0 auto;
        display: block;
    } /* Display the burger menu button */

    .main-nav {
        display: none;
        margin: 25px auto;
    } /* Hide the top nav */

    .main-nav li {
        display: block;
        padding: 5px 0;
        margin: 0;
        text-align: center;
        font-size: 125%;
    } /* make top nav display vertically when shown */

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
    }

    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    } /* Prevents hero text from overflowing on sides */

    /* Turn off all hover effects for mobile */
    .btn:hover {
        background-color: #134260;
    }

    .btn-full:hover{
        border: 1px solid #134260;
    }

    .btn-ghost:hover{
        border: 1px solid #fff;
        background-color: transparent;
    }

    .main-nav li:hover {
        border: none;
    }

    /* Redeclare active states */
    .btn:active {
        background-color: #0072bb;
        border: 1px solid #0072bb;
    }

    .main-nav li:active {
        border-bottom: 2px solid #0072bb;
    }
}


/* Large phones: 481 to 767px */
@media only screen and (max-width: 767px) {
    section {padding: 30px 0;} /* Reduce padding from 60 to 30 */

    .row,
    .hero-text-box {padding: 0 4%;} /* Increase padding on sides */

    .col {
        width: 100%;
        margin: 3.5% 0;
    }; /* Stack columns */

    .col:first-child{
        margin: 1% 0 1% 0;
    } /* Override grid.css settings */
}


/* Small phones: 0 to 480px */
@media only screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
}

/* Stacking hero buttons for really narrow screens */
@media only screen and (max-width: 341px) {
    body {
        font-size: 14px;
    }

    .btn {
        display: block;
        padding: 25px 30px;
        margin: 3% 1%;
    }
}
